@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("./assets/fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: "PlayfairDisplay-Medium";
  src: url("./assets/fonts/PlayfairDisplay-Medium.ttf");
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("./assets/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("./assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-Medium";
  src: url("./assets/fonts/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "OpenSans-Regular";
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "OpenSans-Regular";
  line-height: 1;
  font-weight: 400;
  font-size: 1.6rem;
  color: #212529;
  background-color: #212529;
}

.container {
  max-width: 144rem;
  padding-inline: 5%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #fff;
}

svg {
  fill: #fab005;
  font-size: 5.4rem;
}

svg:hover {
  fill: #fab00580;
  font-size: 5.4rem;
}
